<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h1>Nueva tarea</h1>
<form method="post" action="#"
      th:action="@{/tarea/submit}"
      th:object="${tarea}">

    <input type="hidden"
           id="identificador"
           th:field="*{id}" />

    <input type="text"
           id="nombre" placeholder="Nombre"
           th:field="*{nombre}" />

    <input type="text"
           id="fechaCreacion" placeholder="20/09/20"
           th:field="*{fechaCreacion}" />

    <input type="text"
           id="fechaCaducidad" placeholder="20/10/20"
           th:field="*{fechaCaducidad}" />

    <input type="submit"
           value="Enviar" />

</form>
</body>
</html>